.item-detail{
  width: 100%;
  display: flex;
  padding: 100px 10px;
}

.info-detail{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}
.info-detail .title{
  padding: 10px 0;
}
.info-detail .description, .price{
  padding: 10px 0;
  font-size: 20px;
  font-style: italic;
}
.image-detail{
  width: 50%;
  display: flex;
  justify-content: center;
}