.item-list-container{
  padding: 50px 0;
}
.title-items{
  padding: 0 20px;
}
.item-list{
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
}
.card{
  width: 21%;
  margin: 3% 2%;
  display: flex;
  flex-direction: column;
}
.image-box-card{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.061);
  padding: 50px 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-card{
  width: 90%;
}
.info-card{
  flex: 1;
  padding: 20px 0;
  position: relative;
  padding-bottom: 100px;
}
.info-card .title-card{
  font-size: 1.2rem;
  padding: 0 0 15px 0;
}
.info-card .description-card{
  font-size: 1rem;
  font-weight: 300;
}
.info-card .box-button-item{
  position: absolute;
  bottom: 10px;
  left: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(219, 219, 219);
  border-radius: 5px;
}
.info-card .button-item{
  width: 100px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(48, 48, 48);
}
