.form-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #333;
}

input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #c5ab19;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #775905;
    transform: scale(1.05);
}
