.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid black;
  background-color: rgb(233, 232, 232);
}
.brand-navbar{
  height: 50%;
}
.icon-navbar{
  height: 50%;
  margin-left: 20px;
  margin-top: 6px;
}
.categories-navbar{
  display: flex;
  align-items: center;
  list-style: none;
}
.categorie-navbar{
  font-weight: 500;
  text-align: center;
  width: auto;
  height: 100%;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
}

.categorie-navbar {
  color: rgb(94, 94, 93);
  text-decoration: none;
  font-size: 18px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.categorie-navbar::before {
  margin-left: auto;
}

.categorie-navbar::after, .categorie-navbar::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #ecab1e;
  display: block;
  transition: 0.5s;
}

.categorie-navbar:hover::after, .categorie-navbar:hover::before {
  width: 100%;
}

.cartwidget{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-weight: bold;
}

.cartwidget:hover{
  cursor: pointer;
}

